.cta-section {
  padding: 120px 8%;
  background: radial-gradient(circle at center, #0d1020 0%, #05060d 80%);
  text-align: center;
  color: white;
}

.cta-container {
  max-width: 800px;
  margin: auto;
}

.cta-container h2 {
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.span{
  color:  #8b5cf6;;
}

.span:hover{
  color: yellow;
}

.cta-container p {
  color: #9ca3af;
  margin-bottom: 40px;
  font-size: 14px;
}

/* Form */
.cta-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.cta-form input {
  padding: 16px 24px;
  width: 220px;
  border-radius: 50px;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(33, 33, 33, 0.167);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

.cta-form input:focus {
  border-color: #8b5cf6;
  box-shadow: 0 0 20px rgba(139, 92, 246, 0.3);
}

/* Button */
.cta-form button {
  padding: 16px 32px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(90deg, #6c63ff, #8b5cf6);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-form button:hover {
  
  box-shadow: 0 0 50px 5px rgba(139, 92, 246, 0.4);
}

.cta-note {
  display: block;
  color: #6b7280;
  font-size: 14px;
  margin-top: 10px;
}