.navbar{
    margin: 0px auto;
    width: 100%;
    display :flex;
    box-sizing: border-box;
    background: linear-gradient(
        145deg,
        #0f051d 0%,
        #1a0633 40%,
        #14052a 100%
      );    
 
    color: rgb(255, 255, 255);
    justify-content: space-between;
    height: 60px;
    padding: 0 40px;
    align-items: center;
}

.logo h1 {
  font-size: 40px;
  font-family: "LaFemina";
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.pages{
    width: 40%;
}
.list{
    display :flex;
    justify-content: space-between;
}
.listitem{
  list-style: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}
.list li{
  list-style: none;
  font-size: 13px;
}
.list li button{
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #000000;
  margin-top: -5px;
  border: solid 1px rgb(255, 255, 255);
  transition: transform 0.3s ease;
}
.list li button:hover{
  background-color: #000000;
  border: solid 1px rgb(255, 255, 255);
  color: white;
  transform: scale(1.1);  
}
/* underline */
.listitem::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%); /* center positioning */
  width: 0;
  border-radius: 10px;
  height: 2px;
  background: #fffb00;
  transition: width 0.3s ease;
}

/* hover */
.listitem:hover{
  color: #fffb00;
  text-shadow:0 0 20px  #fffb00;
}

/* center se expand */
.listitem:hover::after{
  width: 100%;
}
