.insight-section {
  padding: 120px 8%;
  background: radial-gradient(circle at top left, #0d1020 0%, #05060d 80%);
  color: #fff;
}

.insight-container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

/* LEFT SIDE */
.insight-left {
  flex: 1;
}

.insight-left h2 {
  font-size:30px;
  margin-bottom: 20px;
}

.insight-left span{
  color:  #8b5cf6;
}

.insight-left span:hover{
  color: yellow;
}

.insight-sub {
  color: #9ca3af;
  font-size: 12px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.insight-list {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.insight-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 15px;
  color: #fafafa;
}

.check-icon {
  width: 20px;
  height: 20px;
  background: #1e1b4b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  color: #8b5cf6;
  font-size: 12px;
}

.demo-btn {
  padding: 14px 26px;
  background: linear-gradient(90deg, #2217f5, #31005e);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.demo-btn:hover {
  box-shadow: 0 0 40px 10px rgba(145, 28, 255, 0.4);
  transform: scale(0.9);
}

/* RIGHT SIDE */
.insight-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.analytics-card {
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.analytics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.analytics-header h4 {
  font-size: 18px;
}

.analytics-header select {
  background: #111827;
  border: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
}

/* Chart Bars */
.analytics-chart {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  height: 200px;
}

.bar {
  width: 150px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.bar-1 {
  height: 120px;
  background: #2a2d5f;
  transition: ease 0.5s;
}

.bar-1:hover{
    height: 220px;
}

.bar-1 p{
    margin-top: 125px;
    margin-left: 40px;
}

.bar-2 {
  height: 160px;
  background: #3b1f5f;
}

.line {
  position: absolute;
  top: -12px;
  left: 20px;
  right: 20px;
  height: 4px;
  background: #8b5cf6;
  border-radius: 4px;
}

.line.small {
  top: -22px;
  height: 3px;
  opacity: 0.6;
}

.others{
    display: flex;
    width: 70%;
    gap: 10px;
}

